@font-face { 
  font-family: 'Adler'; 
  src: url('adler.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, a, .side-nav, .panel a {
	font-family: Adler;
  color: green;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1em; }

h1 {
	border: 0px solid red;
	margin-top: 1.0rem;
	margin-bottom: -0.7rem;
	line-height: 3rem;
}

p {
	font-family: Helvetica, Arial;
}

input[name=honey] {
  position: absolute;
  top: -10em;
}
